.btn-exportar{

    background:#28a745;

}

.btn-importar{

    background:#007bff;

}

.btn-eliminar{

    background:#dc3545;

}

/* BOTON ELIMINAR */

.tabla-productos button{

    width:28px;

    height:28px;

    padding:0;

    margin:0;

    border-radius:6px;

}

/* TABLA INVENTARIO */

.tabla-productos td{

    padding:1px 6px;

    font-size:14px;

}

.tabla-productos td:last-child{

    width:40px;

}

.tabla-productos th{

    padding:6px;

    font-size:14px;
}

/* CONTENEDOR */

.container{

    max-width:1200px;

    margin:auto;

}
    
/* PANELES */

.panel{

    padding:12px !important;

    margin:10px auto !important;

    border-radius:10px;

}

/* TITULOS */

h1{

    margin:10px 0 !important;

    font-size:24px;

}

.panel h2{

    margin-bottom:8px;

    font-size:18px;

}

/* INPUTS */

.panel input,
.panel select,
.panel button{

    padding:6px 10px;

    margin:4px 0;

    font-size:14px;

    min-height:34px;

}

/* HISTORIAL */

#tablaInventario td{

    padding:4px 6px;

    font-size:13px;

}

#tablaInventario th{

    padding:6px;

    font-size:13px;

}

/* BOTONES INFERIORES */

.btn-exportar,
.btn-importar,
.btn-eliminar{

    padding:6px 12px;

    min-height:32px;

}

.acciones-inventario{

    display:grid;

    grid-template-columns:
        repeat(3,1fr);

    gap:6px;

    margin-top:6px;

}

.acciones-inventario button{

    margin:0;

    min-height:28px;
    
    font-size:13px;
}

@media(max-width:768px){

    .acciones-inventario{

        grid-template-columns:1fr;

    }

}

.movimiento-grid{

    display:grid;

    grid-template-columns:
        repeat(2,1fr);

    gap:8px;

}

.movimiento-grid select,
.movimiento-grid input,
.movimiento-grid button{

    margin:0;

}

.movimiento-grid *{

    margin:0;

}

@media(max-width:768px){

    .movimiento-grid{

        grid-template-columns:1fr;

    }

}

.producto-grid{

    display:grid;

    grid-template-columns:
        repeat(3,1fr);

    gap:8px;

}

.producto-grid input,
.producto-grid button{

    margin:0;

}

.producto-grid .stock{

    grid-column:1 / 3;

}

.producto-grid .btn-agregar{

    grid-column:3;

}

.btnEliminarMovimiento{

    background: none;

    border: none;

    padding: 0;

    margin: 0;

    cursor: pointer;

    font-size: 12px;

    line-height: 1;

    opacity: .5;

}

.btnEliminarMovimiento:hover{

    opacity: 1;

}
