.btn-exportar{

    background:#28a745;

}

.btn-importar{

    background:#007bff;

}

.btn-eliminar{

    background:#dc3545;

}

.tabla-productos button{

    width:32px;

    height:32px;

    padding:0;

    margin:0;

    border-radius:6px;

}

.tabla-productos td{

    padding:4px 8px;

}

.tabla-productos td:last-child{

    width:70px;

}

.tabla-productos th{

    padding:8px;

}
