
/**
 * ==========================================================
 * PDV
 * Archivo: shell.css
 * Módulo: Shell
 * Descripción: Contenedor principal de la aplicación.
 * Versión: 0.6.1
 * ==========================================================
 */


#shell{

    display:flex;

    flex-direction:column;

    min-height:100vh;

}

#sidebar{

    display:none;

    flex-shrink:0;

}

#workspace{

    display:flex;

    flex-direction:column;

    flex:1;

    min-width:0;

}

#navbar{

    height:var(
        --navbar-height
    );

    flex-shrink:0;

}

#content{

    flex:1;

    overflow:auto;

}

#statusbar{

    height:var(
        --statusbar-height
    );

    flex-shrink:0;

}

/* Desktop */

@media (min-width:1200px){

    #shell{

        flex-direction:row;

    }

    #sidebar{

        display:block;

    }

}