/**
 * ---------------------------------------------------
 * PDV
 * Archivo:
 * Descripción:
 * Versión:
 * Autor:
 * ---------------------------------------------------
 */

 section{

    padding:40px;

}

h1{

    color:#1976d2;

    font-size:32px;

}

p{

    color:#555;

    font-size:18px;

}